<h2 class="text-3xl font-bold my-4">NgRx Signal Store Todo App</h2>

<mat-form-field class="">
  <mat-label class="text-xs">Enter a TODO and press Enter</mat-label>
  <input matInput #input (keyup.enter)="onAddTodo(input.value)" />
  <mat-icon matSuffix>edit</mat-icon>
</mat-form-field>

<mat-button-toggle-group #filter>
  <mat-button-toggle value="all">All</mat-button-toggle>
  <mat-button-toggle value="pending">Pending</mat-button-toggle>
  <mat-button-toggle value="completed">Completed</mat-button-toggle>
</mat-button-toggle-group>

<mat-selection-list class="flex flex-col">
  @for (todo of store.todos(); track todo.id; let index = $index) {
  <mat-list-option>
    <div class="flex items-center">
      <mat-icon class="mr-4">delete</mat-icon>
      <span>{{ todo.title }}</span>
    </div>
  </mat-list-option>
  }
</mat-selection-list>
